@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSans_Condensed-Light.ttf") format("truetype");
}

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}